<div class="polpdefault">
    <div class="lpheader">
        <br />
        <div class="purchaseorders">
            Dashboard
        </div>
        <br />
        <div class="row">
            <div class="col-6 calendardiv">
                <span style="position:absolute;" class="gray bold dashboardLabel">Top Stats From &nbsp;&nbsp;</span>

                <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="model"
                    required name="mydaterange" (dateRangeChanged)="onDateRangeChanged($event);"></my-date-range-picker>
            </div>
            <div class="col-3" style="top:5px">
                <div class="row" style="line-height:22px">
                    <div class="col-2 midblack bold" style="padding:0;margin:0">Type: </div>
                    <div class="col-3" style="padding:0;margin:0">
                        <div class="warehouse pointer text-center"
                            [ngClass]="{'warehouse':(constants.WAREHOUSE_TYPE_IFC != wareHouseType),'warehouseSelected':(constants.WAREHOUSE_TYPE_IFC == wareHouseType)}"
                            id="ifc" (click)="toggleWarehouse(constants.WAREHOUSE_TYPE_IFC)">IFC</div>
                    </div>
                    <div class=" col-3" style="padding:0;margin:0">
                        <div class="warehouse pointer text-center"
                            [ngClass]="{'warehouse':(constants.WAREHOUSE_TYPE_NONIFC != wareHouseType),'warehouseSelected':(constants.WAREHOUSE_TYPE_NONIFC == wareHouseType)}"
                            id="nonifc" (click)="toggleWarehouse(constants.WAREHOUSE_TYPE_NONIFC)">Non-IFC</div>
                    </div>
                </div>
            </div>

        </div>

        <br />
        <div class="row ml-2" *ngIf="constants.WAREHOUSE_TYPE_IFC == wareHouseType">
            <div class="col-3" style="padding-left:0px;padding-right:0px">
                <div class="kpibox mr-4">
                    <div class="kpiboxheader">
                        <br />
                        <div class="ml-2"><img src="../assets/img/block_icon.png">&nbsp;&nbsp;From Supplier ASN to IFC
                            Inbound
                        </div>
                    </div>
                    <br />
                    <div class="row mt-4 ml-4 pr-4 kpitextbox">
                        <div id= "ifcMP" class="col-6 black pointer" style="border-right:1px solid rgba(204,204,204,0.50);"
                            (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_MISSING_PALLET],constants.PROCESS_STEP_IFC_IN,constants.WAREHOUSE_TYPE_IFC)">
                            <span class="red kpitext">{{ kpidata.ifcKPI.ifcINMissingPalletCount }}</span>
                            <br /><b class="black">Missing <br>pallets</b>
                        </div>
                        <div class="col-6 black pointer" id= "ifcAP"
                            (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_ADDITIONAL_PALLET],constants.PROCESS_STEP_IFC_IN,constants.WAREHOUSE_TYPE_IFC)">
                            <span class="green kpitext">{{ kpidata.ifcKPI.ifcINAddtionalPalletCount }}</span><br /><b
                                class="black">Extra<br> pallets</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding-left:10px;padding-right:10px">
                <div class="kpibox  mr-4">
                    <div class="kpiboxheader">
                        <br />
                        <div class="ml-2"><img src="../assets/img/block_icon.png">&nbsp;&nbsp;From IFC Inbound to IFC
                            Outbound
                        </div>
                    </div>
                    <br />
                    <div class="row  mt-4 ml-4 pr-4 kpitextbox">

                        <div id= "ifcOMP" class="col-6 black pointer" style="border-right:1px solid rgba(204,204,204,0.50);"
                            (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_MISSING_PALLET],constants.PROCESS_STEP_IFC_OUT,constants.WAREHOUSE_TYPE_IFC)">
                            <span class="red kpitext">{{ kpidata.ifcKPI.ifcOUTMissingPalletCount }}</span><br /><b
                                class="black">Missing <br>pallets</b>
                        </div>
                        <div class="col-6 black pointer" id= "ifcOAP"
                            (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_ADDITIONAL_PALLET],constants.PROCESS_STEP_IFC_OUT,constants.WAREHOUSE_TYPE_IFC)">
                            <span class="green kpitext">{{ kpidata.ifcKPI.ifcOUTAddtionalPalletCount }}</span><br /><b
                                class="black">Extra<br> pallets</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding-left:0px;padding-right:0px">
                <div class="kpibox  mr-4">
                    <div class="kpiboxheader">
                        <br />
                        <div class="ml-2"><img src="../assets/img/block_icon.png">&nbsp;&nbsp;Missing Pallets at RDC
                        </div>
                    </div>
                    <br />
                    <div class="ml-4 pointer" id= "ifcRMP"
                        (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_MISSING_PALLET],constants.PROCESS_STEP_RDC_IN,constants.WAREHOUSE_TYPE_IFC)">
                        <br />
                        <span class="red kpitext">{{ kpidata.ifcKPI.rdcINMissingPalletCount }}</span><br />
                        <span class="black"><b class="black">Missing <br>pallets</b></span>
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding-left:0px;padding-right:0px">
                <div class="kpibox  mr-4">
                    <div class="kpiboxheader">
                        <br />
                        <div class="ml-2"><img src="../assets/img/wrongRDC_icon.png">&nbsp;&nbsp;Wrong RDC</div>
                    </div>
                    <br />
                    <div class="ml-4 pointer" id= "ifcWR"
                        (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_WRONG_RDC],constants.PROCESS_STEP_RDC_IN,constants.WAREHOUSE_TYPE_IFC)">
                        <br />
                        <span class="wrongrdctext">{{ kpidata.ifcKPI.wrongRDCCount }} of
                            {{ kpidata.ifcKPI.totalPOCount }}</span><br />
                        <span class="black"><b class="black">Purchase orders delivered <br>to the wrong RDC</b></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ml-2" *ngIf="constants.WAREHOUSE_TYPE_NONIFC == wareHouseType">
            <div class="col-4" style="padding-left:0px;padding-right:0px">
                <div class="kpibox mr-4">
                    <div class="kpiboxheader">
                        <br />
                        <div class="ml-2"><img src="../assets/img/block_icon.png">&nbsp;&nbsp;From Supplier ASN to RDC
                            IN
                        </div>
                    </div>
                    <br />
                    <div class="row mt-4 ml-4 pr-4 kpitextbox">
                        <div class="col-6 black pointer" style="border-right:1px solid rgba(204,204,204,0.50);"
                           id= "nifcSH" (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_SHORTAGE],constants.PROCESS_STEP_RDC_IN,constants.WAREHOUSE_TYPE_NONIFC)">
                            <span class="red kpitext">{{ kpidata.nonifcKPI.rdcInNonIfcShortage }}</span><br /><b
                                class="black">Shortage</b>
                        </div>
                        <div class="col-6 black pointer"
                            id= "nifcOV" (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_OVERAGE],constants.PROCESS_STEP_RDC_IN,constants.WAREHOUSE_TYPE_NONIFC)">
                            <span class="green kpitext">{{ kpidata.nonifcKPI.rdcInNonIfcOverage }}</span><br /><b
                                class="black">Overage</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="padding-left:0px;padding-right:0px">
                <div class="kpibox  mr-4">
                    <div class="kpiboxheader">
                        <br />
                        <div class="ml-2"><img src="../assets/img/block_icon.png">&nbsp;&nbsp;Missing Pallets at RDC
                        </div>
                    </div>
                    <br />
                    <div class="ml-4 pointer"
                       id= "nifcMP" (click)="openDiscrepanciesWithFilter(constants.STATUS_MAP[constants.STATUS_MISSING_PALLET],constants.PROCESS_STEP_RDC_IN,constants.WAREHOUSE_TYPE_NONIFC)">
                        <br />
                        <span class="red kpitext">{{ kpidata.nonifcKPI.rdcInNonIfcMissingPalletCount }}</span><br />
                        <span class="black"><b class="black">Missing <br>pallets</b></span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- <div class="row discrepanciestxt vendorCont">
            <div class="kpiboxheader" style="width:100%;margin-bottom: 10px;">
                <br />
                <div class="ml-2"><img src="../assets/img/block_icon.png">&nbsp;&nbsp;Select Suppliers </div>

            </div>
            <br />
            <div class="col-2" *ngFor="let data of vendorsData.tenantDataList">
                <label class="container">{{data.Name}}
                    <input type="radio" checked="true" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div> -->
        <div class="row discrepanciestxt" *ngIf="currentOrganization !== 'homedepot'">
            <div class="col-6 gray">DISCREPANCIES</div>
            <div id= "showdis" class="col-6 text-right pointer">
                <span (click)="openDiscrepancies()" class="mr-4">SEE ALL DISCREPANCIES</span>
                <span class="glyphicon glyphicon-arrow-right" (click)="openDiscrepancies()"></span>
            </div>
        </div>
    </div>

    <table class="table" *ngIf="currentOrganization !== 'homedepot'">
        <thead>
            <tr>
                <th class="text-left pointer "
                    (click)="podateFlag = !podateFlag; setOrder('poCreationDate',podateFlag)">
                    <span>PO Date</span>
                    <span *ngIf="podateFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="podateFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="podateFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
                <th class="text-left " (click)="keyrecFlag = !keyrecFlag; setOrder('keyRecDate',keyrecFlag)">
                    <span>Key Rec Date</span>
                    <span *ngIf="keyrecFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="keyrecFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="keyrecFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
                <th class="text-left " (click)="ponoFlag = !ponoFlag; setOrder('poNumber',ponoFlag)">PO
                    No
                    <span *ngIf="ponoFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="ponoFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="ponoFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
                <th class="text-left pointer"
                    (click)="asnNumberFlag = !asnNumberFlag; setOrder('asnNumber',asnNumberFlag)">
                    <span>Supplier Ship ID</span>
                    <span *ngIf="asnNumberFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="asnNumberFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="asnNumberFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
                <th class="text-left pointer " (click)="rdcFlag = !rdcFlag; setOrder('rdcId',rdcFlag)">
                    <span>RDC ID</span>
                    <span *ngIf="rdcFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="rdcFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="rdcFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
                <th class=" text-left pointer" (click)="statusFlag = !statusFlag; setOrder('status', statusFlag)">
                    <span>Discrepancy Status</span>
                    <span *ngIf="statusFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="statusFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="statusFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
                <th class="text-left pointer"
                    (click)="processStepFlag = !processStepFlag; setOrder('processStep',processStepFlag)">
                    <span> Process Step</span>
                    <span *ngIf="processStepFlag === true">
                        <img src="../assets/img/sort-up.png" class="botharrowup">
                    </span>
                    <span *ngIf="processStepFlag === false">
                        <img src="../assets/img/sort-down.png" class="singlearrowdwn">
                    </span>
                    <span *ngIf="processStepFlag === ''">
                        <span>
                            <img src="../assets/img/sort-up.png" class="botharrowup">
                        </span>
                        <span>
                            <img src="../assets/img/sort-down.png" class="botharrowdwn">
                        </span>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listdetails of listdata | sort: order:orderType:reverseOrder  | slice:0:9"
               id= "showPOD" (click)="showPOdetails(listdetails.poNumber, listdetails.mVendor);" class="pointer">
                <td class="text-left">
                    <span *ngIf="listdetails.poCreationDate !== 0">
                        {{ listdetails.poCreationDate |date:constants.DATE_FORMAT }}
                    </span>
                </td>
                <td>
                    {{(listdetails.keyRecDate.length >0)?(listdetails.keyRecDate |
                    slice:0:1|dateToUTC|date:constants.DATE_FORMAT:constants.TIME_ZONE):'' }}<span class="gray"
                        [hidden]='listdetails.keyRecDate.length < 2'><span
                            class="midblack">,</span><i>(+{{listdetails.keyRecDate.length -1}})</i></span>
                </td>
                <td class="text-left orange">{{listdetails.poNumber}}</td>
                <td class="text-left">{{listdetails.asnNumber}}</td>
                <td class="text-left">
                    <span *ngFor="let rdcid of listdetails.rdcId;let i = index"
                        [ngClass]="{'red':(rdcid.status=='f')}">{{rdcid.id}}<span
                            *ngIf="listdetails.rdcId.length>2 && i<listdetails.rdcId.length -1">&nbsp; </span></span>
                </td>
                <td class="text-left">
                    <span *ngFor="let status of listdetails.status;let i =index">{{status}}<span
                            *ngIf="i !=listdetails.status.length -1 ">, </span></span>
                </td>
                <td class="text-left">{{listdetails.processStep}}</td>
            </tr>
            <tr *ngIf="listdata.length == 0">
                <td colspan="7">
                    <span style="font-weight: 700;"> LOADING</span>
                    <img style="width: 80px;" src="../../assets/img/loading1.gif" alt="">
                </td>
            </tr>
            <tr *ngIf="listdata.length==0 && ferchtingData == false">
                <td colspan="10">No Discrepancies Found</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div style="width:90%;margin-left:50px" class="text-center">
        <div class="discrepancybox text-center">
            <span id= "showdisc"(click)="openDiscrepancies()" class="pointer">See all discrepancies</span>&nbsp;&nbsp;<img
                src="../assets/img/right-arrow.png">
        </div>
    </div>
    <br />
    <br />
</div>
