<div class="wrapper">
<!-- <app-header></app-header> -->
<!-- <app-sidepanel></app-sidepanel> -->
<main class="bx--content">
	<router-outlet></router-outlet>
	<!-- <div class="bubbles">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
		<img src="../../assets/images/bubble.png" alt="">
	</div> -->
</main>
</div>
