<div class="col-sm-12" style="color:#000">


    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow"
      style="color:#000;background:indigo">
      <div class="col-2" *ngIf="speedtestData" style="font-size: 16px;  font-weight: bolder;">
        <small>HOST </small>
        <h6 style="font-size: 20px;" class="mb-0 text-white lh-100">thdblockchain.com</h6>
      </div>
      <div class="col-8 text-center">
        <h6 style="font-size: 30px;" class="mb-0 text-white lh-100">Record Network Activity </h6>
      </div>
      <div class="col-2 text-right">
        <h6 class="mb-0 text-white lh-100">Httpversion - {{httpversion}}</h6>
      </div>
    </div>
    <div class="d-flex  ">
      <div style="color:#000; font-weight: bolder;" class="col-6">Page Start Date Time - {{pageDT}}</div>
      <div class="col-6 text-right" style="color:red;font-weight: bolder;"> * seconds</div>
    </div>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th scope="col">Method</th>
          <th scope="col">API</th>
          <th scope="col">Status</th>
          <th scope="col">Time</th>
          <!-- <th scope="col">Started Date Time</th> -->
          <th scope="col">Blocked</th>
          <th scope="col">DNS</th>
          <th scope="col">SSL</th>
          <th scope="col">Connect</th>
          <th scope="col">Send</th>
          <th scope="col">Wait</th>
          <th scope="col">Receive</th>
          <th scope="col">Queueing</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of speedtestData">
          <th *ngIf="data._resourceType === 'xhr'" scope="row">
            <span class="tile">{{data.request.method}} </span>
          </th>
          <td style=" font-weight:bold;" *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.request.url}} </td>
  
          <td *ngIf="data._resourceType === 'xhr'" scope="col">{{data.response.status}}</td>
          <td style="background :khaki ;font-weight:bold;" *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.time/1000 | number:
            '1.0-2'}}</td>
          <!-- <td *ngIf="data._resourceType === 'xhr'" scope="col" >{{data.startedDateTime}}</td> -->
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.blocked/1000 | number: '1.0-2'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.dns/1000 | number: '1.0-4'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.ssl/1000 | number: '1.0-2'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.connect/1000 | number: '1.0-2'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.send/1000 | number: '1.0-2'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.wait/1000 | number: '1.0-2'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings.receive/1000 | number: '1.0-2'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            {{data.timings._blocked_queueing/1000 | number: '1.0-4'}}
          </td>
          <td *ngIf="data._resourceType === 'xhr'" scope="col">
            <a (click)="showJSONDATA(data);" class="tile tile1">Info</a>
  
          </td>
  
        </tr>
      </tbody>
    </table>
    <!-- Spinner and modals-->
    <div class="spinner inviteSent" *ngIf="show">
      <div class="spinnerIcon">
        <div class="modal-header ">
          <h5 class="modal-title">Server IP Address -{{modaldata.serverIPAddress}} </h5>
          <h5 class="modal-title">
            Start Date Time - {{modaldata.startedDateTime}}
          </h5>
          <h5 class="modal-title"> Total Time - {{modaldata.
            time/1000}}(s)</h5>
          <button (click)="show = false;" type="button" class="btn btn-success">CLOSE</button>
        </div>
        <div class="modal-body" style="text-align:left;">
          <h4 class="text-left">Network Logs - <span class="urltext">{{modaldata.request.url}}</span></h4>
          <h4 style="background: burlywood;  padding: 10px; " class="text-left">Timings(ms)</h4>
          <pre class="first">{{modaldata.timings | json}}</pre>
          <h4 style="background: burlywood;  padding: 10px; " class="text-left">Request</h4>
          <pre class="second">{{modaldata.request | json}}</pre>
          <h4 style="background: burlywood;  padding: 10px; " class="text-left">Response</h4>
          <pre class="third">{{modaldata.response | json}}</pre>
        </div>
      </div>
    </div>
  </div>
  