.table-dark td, .table-dark th, .table-dark thead th {
    border-color: indigo;
    color: #000;
  }
  tbody tr{
    font-weight: 500;
    font-size: 14px;
    background:#fff;
  }
  thead tr th{
    background: #eee;
    color: #000;
   font-size: 16px;
   font-weight: 500 !important;
 
  }
  .button1{
    background-color: indigo;
    color: #fff;
  }
  thead tr th{
   font-weight: 500 !important;
 
  }
  tbody tr:hover{
    background-color: #eee;
    border:2px solid #aaa;
    // font-size: 14.5px;

  }
  .img-rounded{
    height: 1000px;
    width:100%;
    float: left;
    background-size: 100% 100%;
  }
.sticky-top1{
  position: sticky;
    top: 60px;
    z-index: 1020;
}
  .tile{
      font-size: 14px;
      background: indigo;
      font-weight: 700;
      min-width: 80px;
      padding: 6px 15px;
      text-align: center;
      border-radius: 3px;
    //   text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
      font-family: sans-serif;
      color: #fff;
      color: #fff;
      background-color: indigo;
      border-color:indigo;
  }
  .spinner{
    position: absolute;
    top: 13%;
    left: 8%;
    background: #F1F1F1;
    width: 85%;
    z-index: 1000000;
  }
  .modal-header{
    border-bottom: none !important;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-align: left;
    background: indigo;
    color: #fff;
  }
  .modal-body{
    font-weight: 700;
    height:550px;
    overflow-y: scroll;
  }
  .modalText{
    font-size:24px;
    text-align: left;
    font-weight: 900;
  }
  .tile1{
    color: #fff !important;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor:pointer;
  }
  .urltext{
    color: darkblue;
    background: #fff;
    padding: 3px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: bolder;
  }
  pre{
    font-size:15px !important;
    font-weight: bolder;
  }
  .first, .second, .third{
    background: #fff;
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid #999 !important;
}
.bg-dark{
  background: indigo !important;
}
  